/*全局样式表*/
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb {
    font-size: 12px;
    margin-bottom: 15px;
}
.el-card {
    border-radius: 15px !important;
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff !important;
}
.el-table {
    margin-top: 15px;
}
.el-pagination {
    margin-top: 15px;
}

